[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
openpyxl = "*"
pywin32 = "*"
xlwings = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.12"
