-i https://pypi.org/simple
et-xmlfile==1.1.0; python_version >= '3.6'
openpyxl==3.1.5; python_version >= '3.8'
pyodbc==5.1.0; python_version >= '3.8'
pywin32==306
xlwings==0.33.0; python_version >= '3.9'
